/* Global */

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #dedede;
}

/* Header */
.header {
  background: #dedede;
  padding: 16px 0 5px 0;
  height: 5%;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 10000;
}

.scroll {
  background: whitesmoke;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav li {
  display: inline-block;
  box-sizing: border-box;
}
nav a,
button {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
  border: none;
  background: none;
}

nav li :hover {
  color: goldenrod;
  border-bottom: 1px solid goldenrod !important;
  transition: 0.2s ease-in;
}

.logo {
  font-family: "Roboto", sans-serif;
  float: left;
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 300;
}

/* Main Screen */

.pagrindinis-container {
  padding: 0;
  margin-top: 5%;
  vertical-align: middle;
  text-align: center;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #dedede;
  background-image: url("photos/Jurate-4.png");
  background-size: 50%;
  height: 92.7%;
  overflow: hidden;
  width: 100%;
}

.smoke-video {
  width: 60%;
  height: 50%;
  position: absolute;
  left: 10%;
  top: 27%;
}

.pagrindinis-container h1 {
  padding-bottom: 11px;
  margin: 0;
  padding: 0;
  margin-right: 10%;
  font-weight: 400;
  font-family: "Prata", serif;
  color: #393f43;
  font-size: 3.125rem;
  line-height: 4.0625rem;
  position: relative;
  top: 30%;
}

.pagrindinis-container h2 {
  margin: 0;
  margin-right: 10%;
  font-weight: 400;
  font-family: "Prata", serif;
  color: #393f43;
  font-size: 30px;
  line-height: 50px;
  position: relative;
  top: 30%;
}

/* link animation */

.cl-effect-21 a {
  animation: textAppear 2s ease-in;
  text-decoration: none;
  margin-right: 10%;
  padding: 10px;
  color: goldenrod;
  font-weight: 700;
  text-shadow: none;
  font-family: "Prata", serif;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  top: 50%;
  font-size: 20px;
  position: relative;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.cl-effect-21 a::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.cl-effect-21 a::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
  color: #fff;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/* arrow animation */

.arrow {
  font-size: 40px;
  color: rgb(92, 92, 92);
  margin-left: 9px;
  opacity: 80%;
  text-decoration: none;
  position: relative;
  padding-right: 10%;
  display: block;
  animation: MoveUpDown 2s linear infinite;
  top: 60%;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }
}

.textAppear {
  animation: textAppear 2s ease-in;
}

@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Apie ekranas*/

.apie-container {
  text-align: center;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: whitesmoke;
  background-image: url("photos/Jurate-1.png");
  height: 100%;
  overflow: hidden;
}

.apie-container h1 {
  padding-right: 30%;
  padding-bottom: 11px;
  font-weight: 400;
  font-family: "Prata", serif;
  color: #393f43;
  font-size: 3.125rem;
  line-height: 4.0625rem;
  position: relative;
  top: 10%;
}

.apie-container h2 {
  padding-right: 30%;
  font-weight: 400;
  font-family: "Prata", serif;
  color: #393f43;
  font-size: 30px;
  line-height: 50px;
  position: relative;
  top: 10%;
}

/* Pradėkime skiltis */

.pradekime-container {
  text-align: center;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: whitesmoke;
  background-image: url("photos/Jurate-5.png");
  height: 100%;
  overflow: hidden;
  background-color: #dedede;
}

.pradekime-container h1 {
  padding-right: 30%;
  padding-bottom: 11px;
  font-weight: 400;
  font-family: "Prata", serif;
  color: #393f43;
  font-size: 3.125rem;
  line-height: 4.0625rem;
  position: relative;
  top: 30%;
}

.pradekime-container h2 {
  padding-right: 30%;
  font-weight: 400;
  font-family: "Prata", serif;
  color: #393f43;
  font-size: 30px;
  line-height: 50px;
  position: relative;
  top: 30%;
}

/*Footer*/

footer {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: whitesmoke;
  overflow: hidden;
}

footer li {
  display: inline-block;
  box-sizing: border-box;
}

footer li img {
  max-width: 35px;
  margin: 10px;
}

/* navigation left */

.navigationLeft {
  animation: textAppear 1.5s ease-in;
  position: fixed;
  top: 50%;
  background-color: rgb(212, 212, 212);
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 9000;
}

.navigationLeft img {
  width: 30px;
  margin: 10px;
}

.imgExpand :hover {
  height: 60px;
  animation: 1s linear;
  color: #dedede;
}

/* bottom text */

.bottomText {
  color: white;
  width: 100%;
  text-align: center;
  background-color: #393f43;
  position: fixed;
  bottom: 0;
  display: none;
}

.bottomText a {
  margin: 0.5em;
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  font-size: 2em;
}

.displayInlineBlock {
  display: inline-block;
  animation: appear 1s linear;
}

.bottomTextBtn {
  float: right;
  color: white;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

/* phone */

@media (max-width: 450px) {
  .smoke-video {
    top: 7%;
    width: 80%;
  }

  .pagrindinis-container {
    height: 100%;
    background-size: 130%;
  }

  .pagrindinis-container h1 {
    top: 15%;
    margin: 0;
  }

  .pagrindinis-container h2 {
    top: 15%;
    margin: 0;
  }

  .cl-effect-21 {
    top: 20% !important;
    margin: 0;
  }

  .apie-container h2 {
    margin-left: 2%;
    text-align: left;
    font-size: 1.3rem;
    position: relative;
    top: 10%;
    width: 96% !important;
    padding: 0;
    line-height: 2.2rem;
    width: 100%;
  }

  .apie-container h1 {
    position: relative;
    top: 10%;
    font-size: 2.5rem;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .apie-container h2 a {
    color: #393f43;
  }

  .apie-container {
    height: 100%;
    background-size: 130%;
  }
  .arrow {
    display: none;
  }

  .navigationLeft {
    display: none;
  }

  .pradekime-container h1 {
    position: relative;
    font-size: 2rem;
    top: 10%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .pradekime-container h2 {
    font-size: 1rem;
    position: relative;
    top: 15%;
    width: 100%;
    line-height: 40px;
  }

  .pradekime-container {
    background-size: 130%;
  }

  nav ul li {
    display: none;
  }

  .logo {
    display: block !important;
  }

  footer ul {
    margin: 0;
    padding: 0;
  }
}

/* tablet */

@media (min-width: 451px) and (max-width: 800px) {
  .smoke-video {
    top: 15%;
    width: 70%;
  }

  .arrow {
    display: none;
  }

  .apie-container h1 {
    top: 10%;
  }

  .apie-container h2 {
    top: 10%;
  }

  .apie-container {
    background-size: 90%;
  }

  .pagrindinis-container {
    background-size: 90%;
  }

  .pradekime-container {
    background-size: 90%;
    height: 90vh;
  }

  .pradekime-container h1 {
    top: 10%;
    padding-right: 15%;
  }

  .pradekime-container h2 {
    top: 10%;
    padding-right: 15%;
  }
}
