/* Global */

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #dedede;
}

/* Header */
.header {
  background: #dedede;
  padding: 16px 0 5px 0;
  height: 5%;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 10000;
}

.scroll {
  background: whitesmoke;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav li {
  display: inline-block;
  box-sizing: border-box;
}
nav a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

nav li :hover {
  color: goldenrod;
  border-bottom: 1px solid goldenrod;
  transition: 0.2s;
}

.logo {
  float: left;
  margin: 0 0 0 10px;
}

/* Main Screen */

.pagrindinis-container {
  padding: 0;
  margin-top: 5%;
  vertical-align: middle;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #dedede;
  background-image: url("photos/Juratenew.png");
  height: 92.7%;
  overflow: hidden;
}

.pagrindinis-container h1 {
  padding-bottom: 11px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Prata", serif;
  color: #393f43;
  font-size: 3.125rem;
  line-height: 4.0625rem;
  position: relative;
  top: 30%;
}

.pagrindinis-container h2 {
  margin: 0;
  font-weight: 400;
  font-family: "Prata", serif;
  color: #393f43;
  font-size: 30px;
  line-height: 50px;
  position: relative;
  top: 30%;
}

.pagrindinis-container a {
  margin: 0;
  font-weight: 400;
  font-family: "Prata", serif;
  text-decoration: none;
  color: #393f43;
  position: relative;
  font-size: 20px;
  top: 40%;
  color: goldenrod;
}

/* Apie ekranas*/

.apie-container {
  text-align: center;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: whitesmoke;
  background-image: url("photos/Jurate-1.jpg");
  height: 100%;
  overflow: hidden;
}

.apie-container h1 {
  padding-right: 30%;
  padding-bottom: 11px;
  font-weight: 400;
  font-family: "Prata", serif;
  color: #393f43;
  font-size: 3.125rem;
  line-height: 4.0625rem;
  position: relative;
  top: 30%;
}

.apie-container h2 {
  padding-right: 30%;
  font-weight: 400;
  font-family: "Prata", serif;
  color: #393f43;
  font-size: 30px;
  line-height: 50px;
  position: relative;
  top: 30%;
}

/* Pradėkime skiltis */

.pradekime-container {
  text-align: center;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: whitesmoke;
  background-image: url("photos/Jurate-5.jpg");
  height: 100%;
  overflow: hidden;
}

.pradekime-container h1 {
  padding-right: 30%;
  padding-bottom: 11px;
  font-weight: 400;
  font-family: "Prata", serif;
  color: #393f43;
  font-size: 3.125rem;
  line-height: 4.0625rem;
  position: relative;
  top: 30%;
}

.pradekime-container h2 {
  padding-right: 30%;
  font-weight: 400;
  font-family: "Prata", serif;
  color: #393f43;
  font-size: 30px;
  line-height: 50px;
  position: relative;
  top: 30%;
}
